$fuente: 'Montserrat',
sans-serif;
//Colores
$verde: #4cb8b3;
$rosa:#f53856;
$amarillo:#fef46d;
$morado: #753f97;
$negro: #000000;
$blanco:#ffffff;
//Tamaño de la Fuente 
$delgada:300;
$regular:400;
$bold:700;
$black:900;
//Separciones
$separacion: 5rem;